.btn-group {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px;
}
.btn {
  color: rgba(255, 255, 255, 0.87);
  border-color:rgba(255, 255, 255, 0.2)
}
.btn:hover {
  color: rgba(200, 249, 255, 0.87)!important;
  border-color:rgba(255, 255, 255, 0.8)!important
}
