<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube List</title>
</head>
<body>
    <h1>YouTube List</h1>
    <img src="yt-list.gif" alt="imagem do YouTube List funcionando ">

    <div>
        <h2>Curiosida: </h2>
        <h3>quando este código foi feito, não conhecia código assíncrono, e acabei usando <s>gambiarras</s> métodos alternativos para conseguir fazer funcionar, logo depois iniciei o iChoveu com objetivo de aprender sobre as promises</h3>
    </div>
</body>
</html>