header {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #373b3e;
  align-items: center
}
svg {
  min-height: 20px;
  min-width: 20px;
  height: 2vw;
  width: 2vw;
  vertical-align: middle;
  color: #000;
}
  
#name {
  margin: 0 2%;
  font-size: calc(max(2.5vw, 20px));
  min-width: 32px;
  line-height: 100%;
}
