p {
  text-indent: 40px;
  font-size:large;
}
#me-name {
  color: dimgray;
  font-size: medium;
}
#me-photo {
  text-align: center;
}
.photo {
  border-radius: 100%;
}
@media (min-width: 759px) {
  #me-photo-jpg {
    width: 136px;
  }
  #me-photo {
    max-width: 33.33%;
    max-height: 167px;
    border-radius: 15%;
  }
  #about-me {
    display: flex;
    padding: 30px;
  }
  .container-item {
    padding: 0px 20px
  }
  #me-text {
    display: flex;
    max-width: 1000px;
    margin-left: 20px;
    align-items: center;
  }
  h2 {
    margin: 0px
  }
}
@media (max-width: 759px) {
  * {
    text-align: center;
  }
  #me-photo-jpg {
    max-width: 250px;
  }
  #me-photo {
    border-radius: 40%;
  }
  #mephoto h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  h3 {
    display: flex;
    justify-content: center;
  }
  p {
    width: 90vw;
  }
}